* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --app-primary-color: #2563eb;
    --app-secondary-dark-color: #1e40af;
    --box-shadow-color: rgb(144, 144, 144);
}

@font-face {
    font-family: Dosis-SemiBold;
    src: url(../fonts/Dosis/static/Dosis-SemiBold.ttf);
}

@font-face {
    font-family: Dosis-Medium;
    src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}

#content {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: max(25%, 400px);
    background-color: var(--app-primary-color);
    box-shadow: 5px 0px 15px 0px var(--box-shadow-color);
}

#header-container {
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    font-family: Dosis-SemiBold;
}

#header-container > header > div {
    width: 100%;
    display: flex;
    align-items: center;
}

#logo-container {
    aspect-ratio: 1 / 1;
    width: 50px;
    margin-right: 0.5rem;
    background-image: url(../assets/icons/icons8-checkmark.png);
    background-size: contain;
}

nav > div > button {
    padding: 1.5rem;
    text-align: start;
}

nav button {
    color: white;
    background-color: var(--app-primary-color);
    font-size: 1.5rem;
    border-style: none;
    font-family: Dosis-Medium;
}

#navigation-container {
    padding: 2rem 4rem;
}

#navigation-task {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.add-field {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.start-button {
    flex: 1;
    padding: 1.5rem;
    text-align: start;
}

.add-button {
    height: 75%;
    aspect-ratio: 1 / 1;
    padding: 1.25rem;
    text-align: center;
    background-image: url(../assets/icons/icons8-plus.png);
    background-size: contain;
    border-radius: 25%;
}

#list-container {
    height: 16rem;
    padding: 2rem 0rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: white;
    font-size: 1.5rem;
}

nav span {
    margin-bottom: 4rem;
    font-family: Dosis-Medium;
}

#list-container:last-child {
    margin-bottom: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#list-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#list-container.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#main-content { 
    padding: 4rem;
    width: 100%;
}
